//colors

$white: rgba(255, 255, 255, 1);
$red: rgba(255, 67, 67, 1);
$grey:rgba(186, 187, 197, 1);
$btnHoverRed: rgba(231, 20, 20, 1);
$btnShadow: 4px 4px 30px 0px rgba(255, 67, 67, 1);
$workNover: rgba(255, 67, 67, 0.8);
$workActive: rgba(185, 12, 12, 0.8);
$darkBlue: rgba(44, 49, 84, 1);
$blue: rgba(53, 60, 101, 1);
$titleBlack: rgba(45, 48, 51, 1);
$descrBlack: rgba(108, 114, 121, 1);
$background-color: #252B49;
$iconGray: rgba(198, 203, 205, 1);
$testimonialsBg: rgba(92, 50, 73, 1);
$downloadColorText: rgba(0, 0, 0, 1);
$footerGray: rgba(128, 128, 128, 1);
$testimonials-background-color: #5C3249;
$testimonials-btn-color: #7E5D6F;
