//colors

$white: rgba(255, 255, 255, 1);
$red: rgba(255, 67, 67, 1);
$grey:rgba(186, 187, 197, 1);
$btnHoverRed: rgba(231, 20, 20, 1);
$btnShadow: 4px 4px 30px 0px rgba(255, 67, 67, 1);
$workNover: rgba(255, 67, 67, 0.8);
$workActive: rgba(185, 12, 12, 0.8);
$purpleGrey: rgba(126, 93, 111, 1);
$darkBlue: rgba(44, 49, 84, 1);
$blue: rgba(53, 60, 101, 1);
$titleBlack: rgba(45, 48, 51, 1);
$descrBlack: rgba(108, 114, 121, 1);
$transparent: #00000000;